**/.idea/
**/.firefly/output/
**/.firefly/temporary/
**/.firefly/dependencies/
**/node_modules/
**/*_?_?_?.tar.gz
**/*.class

/package-lock.json
/experimental/random/lsp-debug.txt
/output/temporary
/output/temporaryjs

/vscode/client/out/
/vscode/*.vsix
/vscode/firefly

/lsp/messages
