**/.idea/
**/.firefly/output/
**/.firefly/temporary/
**/.firefly/dependencies/
**/.firefly/include/package-lock.json
**/node_modules/
**/*_?_?_?.tar.gz
**/*.class
**/.DS_Store

/package-lock.json
/experimental/random/lsp-debug.txt
/output/temporary
/output/temporaryjs

/vscode/client/out/
/vscode/*.vsix
/vscode/firefly

/lsp/messages
